/*div {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}*/

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 8%;
    margin-bottom: 5%;
}

img {
    width: 30%;
    margin-bottom: 5%;
}

.login-form {
    padding: 10px 68px 35px 35px;
  }
  

.btn-box {
    text-align: center !important;
    padding-bottom: 5px;
    padding-top: 5px;
  }